

#landing .news{
    font-weight:100;
    max-width: 460px;
    opacity:0.75;
    color: #C31D7E;
}


#landing h1{
    font-family: le-monde-livre-std, serif;
    text-transform: none;
    font-weight: 500;
    font-style: normal;
    font-size:7.5vh;
    max-width:600px;
    line-height:1em;
    margin: auto;
    text-align: center;
    pointer-events: none;
}


#landing h3{
    margin-bottom: 1em;
}
#landing.box{
    display: flex;
    place-items: center;
}

#landing  .box-inner{
    margin: auto;
    padding:1em;
    box-sizing: border-box;
    min-height:400px;
    text-align: center;
}

#landing .side{
    position: absolute;
    bottom:5vh;
    right:10vw;
    
    max-width: 400px;
}

#landing .side a{
    border-bottom:1.2px solid #fff;
}

#landing .side a:hover{
    color: #C31D7E;
    text-decoration: none;
    border-bottom: 1.2px solid #C31D7E;
}

.links{
    padding-bottom:1em;
}

.links a{
    font-size:.8em;
    margin:0 1em;
}


.links a:hover {
    color:#C31D7E;
    text-decoration: none;
}


#landing #newsletter-container{
    position: absolute;
    bottom:200px;
    width: 100%;
    
}



#landing #newsletter-container h3{
    font-size:.8em;
    margin: 0;
    text-align: center;
}

#logo{
    position: absolute;
    max-width:110px;
    margin: .5em;
    top:5vh;
}

#logo img{
    width:100%;
}

.side p{
    pointer-events: none;
}


@media only screen and (max-width: 600px) {
 
    #landing .box-inner{
        position: absolute;
        top:11.5vh;
    }
    
    #landing #newsletter-container{
        position: absolute;
        bottom:190px;
    }
    
    #landing #newsletter-container h3{
        display: none;
    } 
    
    .side{
        bottom:10px !important;
        margin-bottom:1em;
        width:100%;
        padding:0 1em;
         left: 50%;
          transform: translateX(-50%);
    }
    
    .side a{
        display: inline;
    }
    
    #landing h1{
        padding:.5em;
    }
    
    .newsletter input[type="email"]{
        width:170px;
    }
    
    .newsletter input[type="submit"]{
        width:90px;
    }
    
    .links a{
        font-size:.8em !important;
    }
    
}
