
/* Adobe Fonts Import */
  
@import url("https://use.typekit.net/yiw7oly.css");

/* Color Styles */

 :root {

     --bg-color: #101010;
     --bg-dark-color: #121212;

     --text-color: #f2f0f8;
     --text-color-darker: #252427;
     --text-dark-color: #768081;
     --text-light-color: #c9c6d1;
     --text-accent: #141cd1;

     --ele-light: #e5e4eb;
     --ele-line: #141cd1;
     --ele-highlight: #ec5dc2;
     
     --yellow: #E7A210;
     --magenta: #C31D7E;
     --blue: #7FABD1;
     --green: #7B9A65;
     

 }

 .dark {

     background: var(--bg-dark-color);
     color: var(--text-dark-color);

 }


*{
    box-sizing: border-box;
}


 body {
     
     overflow-x:hidden;
     font-family: "MGD Virilio", "Helvetica", system-ui, -apple-system, BlinkMacSystemFont;
     background: var(--bg-color);
     color: var(--text-color);
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     padding-top:1em;
     
     font-weight:400;
     line-height: 1.5em;

 }


#container {
    position: absolute;
    width: 100%;
    min-height:100%;
    overflow-x:hidden;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: stretch;
 }

.box{
    position: relative;
    box-sizing: border-box;
    align-items: stretch;
    width: 100%;
    justify-content: center;
    background: none;
    flex-wrap: wrap;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.box.center{
    top:50%;
    margin-top:-25%;
    position: relative;
    
    justify-content: center;
    
    padding:1em;
}

 .box.box-80 {
     width: 80vw;
 }

#menu{
    position: fixed;
    bottom:0;
    right:0;
    padding:1em;
    z-index:999;
    background-repeat: repeat-x;
    background-image:url(../images/menu.png);
    width:100%;
    height:100px;
    text-align: center;
    line-height: 90px;
}

#menu a{
    text-transform: uppercase;
    margin:0 .5em;
    padding:0.3em;
    font-family: "Input Mono";
    width:90px;
    display: inline-block;
}

#menu a:hover{
    text-decoration: none;
    color:#C31D7E;
}

a, input{
    
    text-decoration: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

a.btn{
    display:inline-block;
    width:130px;
    background: #40494a;
    color:#fff;
    border-radius:5px;
    padding:.5em .2em;
    margin:.5em;
}

a.btn:hover{
    background:#ec5dc2;
    text-shadow:0 0 15px #be1d1d;
    color:#121f20;
    text-decoration: none;
    transform: translateY(-3px);
    cursor: pointer;
}

a.subbtn{
    color:#ccc;
    text-shadow:0 0 20px #ccc;
    text-transform: uppercase;
    letter-spacing:.3px;
    font-size:.8em;
    display:inline-block;
}

a.subbtn:hover{
    color:#ec5dc2;
    transform: translateY(-3px);
    text-decoration: none;
}


      h4{
          color:#ccc;
          text-align: center;
          text-transform: uppercase;
          letter-spacing:.2px;
          
          font-family:"Inter var";
          font-weight:100;
          font-size:12px;
          margin:.3em;
      }

 /* LISTS */

 li {
     line-height: 1.4em;
 }


 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    font-weight:100;
    margin:.5em 0;
     display: block;
     font-family:"Input Mono";
     text-transform: uppercase;
 }

p {
     padding-left:.2em;
}


 /* TEXT */
 a {
     color: var(--text-color);
 }

 a:hover {
     color: var(--text-accent);
     text-decoration: underline;
 }


 mark {
     background: var(--ele-highlight);
     padding: 0 .2em;
 }

::selection {
     background: var(--ele-highlight);
    color:#fff;
    
}
::-moz-selection {
     background: var(--ele-highlight);
    color:#fff;
}

/* ELEMENTS */
hr{
    margin:2em 0;
    border:none;
}

button,
select,
input[type='submit'],
input[type='button'],
input[type='checkbox'],
input[type='range'],
input[type='radio'] {
    cursor: pointer;
}

blockquote, q{
  border-left: 4px solid var(--ele-light);
  margin: 1.5em 0em;
  padding: 0.5em 1em;
}

code,
textarea {
     box-sizing: border-box;
     background: var(--ele-light);
     border-radius: .5em;
     padding: .2em;
}

pre code,
textarea, input, button {
     font-size: .9em;
     display: inline-block;
     color: var(--text-color-darker);
     
     padding: .5em;
     border: none;
     border-radius: .5em;
  font-family: inherit;
  font-size: inherit;
}

cite {
    display: inline;
    padding: 0;
}

select{
    padding:.3em;
    background: var(--ele-light);
}

textarea:disabled,
input:disabled,
select:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

/* FORMS */
input:not([type='checkbox']):not([type='radio']),
select {
  border-radius: .5em;
  display: inline-block;
}



input[type='checkbox'],
input[type='radio'] {
  position: relative;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 2px;
}

input[type='checkbox']:checked,
input[type='radio']:checked {
  background: var(--button-hover);
}

input[type='checkbox']:checked::before,
input[type='radio']:checked::before {
  content: '•';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}


input[type='checkbox']:checked::before {
  content: '✔';
  transform: translateY(-50%) translateY(0.5px) translateX(-6px);
}

input[type='checkbox']:active,
input[type='radio']:active,
input[type='submit']:active,
input[type='button']:active,
input[type='range']:active,
button:active {
  transform: translateY(2px);
}


select {
  background: var(--ele-light);
  font-size:.8em;
  padding:.5em;
  padding-right: 35px;
}

select::-ms-expand {
  display: none;
}

.poster{
    position: absolute;
    max-width:15vw;
    box-shadow:0 -10px 20px rgba(28, 25, 25, 0.76);
}

.poster img{
    max-width:100%;
}


#landing .news{
    font-weight:100;
    max-width: 460px;
    opacity:0.75;
    color: #C31D7E;
}


#landing h1{
    font-family: le-monde-livre-std, serif;
    text-transform: none;
    font-weight: 700;
    font-style: normal;
    font-size:7vh;
    max-width:550px;
    line-height:1em;
    margin-bottom: 0;
}

#landing h3{
    margin-bottom: 1em;
}

#landing  .box-inner{
    position: absolute;
    padding:1em;
    box-sizing: border-box;
    bottom:0;
    width:100%;
    margin-left: 5vw;
    min-height:300px;
}


.links{
    margin:auto;
}

.links a {
    display: inline-block;
    font-family:"Input Mono";
    text-transform: uppercase;
    margin-right: 1em;
    max-width: 220px;
    padding:0;
    vertical-align: top;
}

.links a:hover {
    color:#C31D7E;
    text-decoration: none;
    padding-left:1em;
}

#team .links{
    margin:auto;
    padding:1em;
    text-align: center;
}

#team .links a{
    font-size:.8em;
    margin:1em;
    padding:1em;
}

#info {
    box-sizing: border-box;
    padding: 2em;
    max-width: 750px;
}

#info a {
    border: 1px solid var(--text-color);
    padding: .1em;
    font-size: .9em;
}

#info a:hover {
    text-decoration: none;
    color: #ec5dc2;
}

#info h2 {
    font-weight: 800;
    margin-bottom: -.5em;
}

#info h3 {
    margin-top: 2em;
    margin-bottom: -.75em;
    font-weight: 800;
}


#team {
    max-width: 700px;
    margin-bottom: 10vh;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 100;
    padding-left: 2em;
    padding-right: 2em;
}

#team p.about{
    line-height:1.5em;
    text-align: left;
}
#team p.about a:hover {
    color: #C31D7E;
    text-decoration: none;
}

#team p.about.large{
    font-size:1.9em;
    text-align: center;
}


#team h1, #team h2, #team h3 {
    text-align: center;
}

#team h2{
    border-bottom:1px solid #fff;
    padding-bottom:.5em;
    margin-bottom:1em;
}

#team p {
    font-weight: 100;
    text-align: center;
}

#team .member-container {
    margin: auto;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
}

#team .member {
    display: inline-block;
    margin: 1.5em 1em;
    width: 280px;
    text-align: center;
}

#team .member .member-photo {
    box-sizing: border-box;
    margin-bottom: .5em;
}

.member a {
    padding: .3em;
    color: var(--yellow);

}

.member a:hover {
    background: var(--yellow);
    color: #000;
    text-decoration: none;
}

.member img{
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.member:hover img {
    filter: grayscale(1);
}

.member h2, .member h3 {
    text-align: center;
    padding-bottom:0 !important;
    margin-bottom: 0 !important;
    border-bottom: 0 !important;
}

.member p {
    line-height: 1.2em;
    font-size: .9em;
    margin: 0;
    padding-top:1em;
}

.member h2 {
    margin-bottom: .5em;
    margin-top: 0;
    font-size: 1.8em;
    font-family: 'MGD Virilio';
    text-transform: capitalize;
}

.member h3 {
    font-weight: bold;
    margin-bottom: 0.5em;
    vertical-align: baseline;
    font-family: "Input Mono";
    letter-spacing: .02em;
    color: var(--magenta);
    font-size: 1em;
    opacity: 0.85;
}

.cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    margin-top:-15px;
    margin-left:-15px;
    border-radius: 100%;
    background-color: white;
    backface-visibility: hidden;
    transition: transform 0.2s ease-out;
    mix-blend-mode: difference;
    z-index: 1000;
    pointer-events: none;
}
.cursor.is-moving {
}
.cursor.is-hovering {
    transform: scale(1.5);
}

.thumbnail {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 10px auto;
  }
.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
    width: 100%;
    height: auto;
}


/* NEWSLETTER */


.newsletter{
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    padding:2em 1em;
    text-align: center;
}

.newsletter h3{
    margin-bottom:1em;
}

.newsletter form *{
    display: inline-block;
}

.newsletter label{
    font-family:"Input Mono";
    text-transform: uppercase;
}

.newsletter input[type="email"]{
    border:0;
    border-radius: 0;
    height:40px;
    max-width:275px;
    
}


.newsletter input[type="submit"]{
    border:0;
    border-radius: 0;
    font-family:"Input Mono";
    text-transform: uppercase;
    height:40px;
    background:  var(--bg-color);
    color: #fff;
}

.newsletter input[type="submit"]:hover{
    color: #C31D7E;
}

/* Project */
.project h2 {
    color: #C31D7E;
    font-weight: bold;
    font-size: 2em;
}
.project-img {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: 10px auto;
}
.project-img img{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
/* .project-img {
    width: 100%;
    margin: 10px auto;
}
.project-img img{
    width: 100%;
} */

/* LOADER */
.loader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
  background-color: #101010;
}


/* FONT FACE */


@font-face {
    font-family: 'MGD Virilio';
    src: url('MGDVirilio-regular.woff2') format('woff2'),
        url('MGDVirilio-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MGD Virilio';
    src: url('59171d7af59fc723d2cbced26f05aa43.woff2') format('woff2'),
        url('59171d7af59fc723d2cbced26f05aa43.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MGD Virilio';
    src: url('38f393f54c8f8d2f5c567242aa28b10f.woff2') format('woff2'),
        url('38f393f54c8f8d2f5c567242aa28b10f.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

